GOOGLE_APPLICATION_CREDENTIALS=gcs-key.json

# Event scrape service
EVENTS_SCRAPE_URL=https://staging.api.smalltech.in/webscrapestaging/api/v1/scrape
EVENTS_SCRAPE_CRON=0 */5 * * * *
GOOGLE_MAPS_API_KEY=replacewithrealcreds
GEONAMES_USERNAME=yourusernamehere
GOOGLE_STORAGE_BUCKET_NAME=yourbucketnamehere
APP_FORWARDED_PREFIX=/localstaging